@charset "UTF-8";
#footer{
		margin-top: 130px;
		background-color: #d9e1e8;
		border-color: none;
		height: 180px;
		position: relative;
		margin-bottom: 0;
		width: 100%
	}
	#footer .footerLogo{
		float: left;
		margin-left:16%;
	}
	#footer .addWrap{ 
		foat: left; 
		margin-left:25%;
		ffont-size: 16px;
		font-family: 'Jeju Gothic', serif;
	
		padding: 0;
	}
	.auto{
		padding-top: 50px;
	}
	
	@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
	.addWrap a{
		font-size: 16px;
		font-family: 'Jeju Gothic', serif;
	}
	
	
