@charset "UTF-8";



#wrap{
   width: 690px;
   margin: auto;   
   }
   
#list{
    padding: auto;
    margin-top: 10px;
}   
   
#list table {
       width:670px;
         margin: auto;
       border-collapse:collapse;
       font-size:14px;
   }    
   
#list table th {
       text-align:center;
       border:1px solid #d9f1f7;
       padding:4px 10px;
   }
   
#list table td {
       text-align:left;
       border:1px solid #d9e1e8;
       padding:4px 10px;
       background-color: white;
     
   }
   
th{
      height: 40px;
      color: #353866;
      font-size: 14px;
      font-weight: 700;
      background-color: #d9e1e8;
   
   } 
   #search{
       margin: auto; 
   }
   
   
   #mainImage{
      border:1px solid green;
   }
   
   #buttons{
	      margin: auto;
          margin-top: 18px;
          padding: 10px;
          padding-left: 0px;
          
   }
	#buttons input.btn{
	width: 140px;
	height:60px;
}