
.container{
  width: 100%;
  margin: 0 auto;
  
}
.container div{
  text-align: center;

}
.container div span{
  vertical-align: middle;
}

.middle{
 background-color: #ededee;		
  width: 100%;
  height: 800px;
  position: relative;
}
.middle-left{
  position: absolute;
  top: 50px;
  width: 600px;
  left: 72.5px; 
   
}

#mainbdy{
	width: 100%;
	
}


.top{
	background-color: #ededee;
	
	padding-top: 40px;
}
.middle-right{
  position: absolute;
  top: 50px;
  left: 570px;
  width: 380px;
  height: 300px;
}
.middle-right-notice{
  border: 1px; 
  margin-top: 10px;
  width: 480px;
  height: 420px;
  background-color: white;
  border: 1px solid #d0d9e7;
}
.middle-right-free{
  border: 1px solid #d0d9e7;
  margin-top: 10px;
  width: 480px;
  height: 420px;
  background-color: white;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

 .sp{
	font-family: Spoqa Han Sans;
	color:#286386;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 150px;
	padding-left: 167px;
}

.ico{
	margin-left: 172px;
	margin-top: 50px;
	margin-bottom: 51px;
}

.moreicon{
	position: absolute;
	margin-left: 90px;
	
}

.cl{
	color: #666;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.title1 .sp{
	font-size: 32px;
	width:160px;
	color:black;
	padding-left: 15px; 
	padding-right: 15px; 
}

.title1{
		margin: 0 143px 0 143px;
		padding-top: 30px;
		padding-bottom: 11px;
		text-align: center;
}


.row {
    border: 5px dashed #286386;
    width: 510px;
}


.middle-right ul li{
	font-size: 14px;
    font-weight: 300;
    color: #6d6e71;
    padding-left: 10px;
    margin-bottom: 4px;
	
}

.ulul{	
	font-size: 14px;
	
}

col-md-8 mr-auto ml-auto .mr-auto{
	
	margin-left: 0 !important;
}


