
.container{
  width: 100%;
  margin: 0 auto;
  
}
.container div{
  text-align: center;

}
.container div span{
  vertical-align: middle;
}

.middle{
 background-color: #ededee;		
  width: 100%;
  height: 530px;
  position: relative;
}
.middle-left{
  position: absolute;
  top: 50px;
  width: 600px;
  left: 72.5px; 
   
}

#mainbdy{
	width: 100%;
	
}


.top{
	background-color: #ededee;
	
	padding-top: 40px;
}
.middle-right{
  position: absolute;
  top: 50px;
  left: 570px;
  width: 380px;
  height: 300px;
}
.middle-right-notice{
  border: 1px; 
  margin-top: 10px;
  width: 480px;
  height: 420px;
  background-color: white;
  border: 1px solid #d0d9e7;
}
.middle-right-free{
  border: 1px solid #d0d9e7;
  margin-top: 10px;
  width: 480px;
  height: 420px;
  background-color: white;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

 .sp{
	font-family: Spoqa Han Sans;
	color:#286386;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 150px;
	padding-left: 167px;
}

.ico{
	margin-left: 172px;
	margin-top: 50px;
	margin-bottom: 51px;
}

.moreicon{
	position: absolute;
	margin-left: 90px;
	
}

.uldiv{
	margin-top: 20px;
	
}

.cl{
	color: #666;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.title1 .sp{
	font-size: 32px;
	width:160px;
	color:black;
	padding-left: 15px; 
	padding-right: 15px; 
}

.title1{
		margin: 0 143px 0 143px;
		padding-top: 30px;
		padding-bottom: 11px;
		text-align: center;
}


.row {
    border: 5px dashed #286386;
    width: 510px;
}


.middle-right ul li{
	font-size: 12px;
    font-weight: 300;
    color: #6d6e71;
    padding-left: 10px;
    margin-bottom: 4px;
	
}

.ulul{	
	font-size: 14px;
	
}

col-md-8 mr-auto ml-auto .mr-auto{
	
	margin-left: 0 !important;
}



body{
	background-color: #ededee !important;	
	
}


#bottom{
	 width: 100%;
	 height: 300px;
	 position: relative;
	 left: 225px;
	 
}
	
.main-link{
	background-color: white; 
	border: 1px solid #d0d9e7;     
	position: relative;
    text-align: center;
    padding: 40px 0;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
	
}

.main-link > li:first-child {
    border-left: none;
}

.main-link > li {
    display: inline-block;
    padding: 0 50px;
    border-left: 2px solid #d6d6d6;
    float: left;
}

.main-link .t3>span {
    display: block;
    margin-bottom: 3px;
    font-size: 24px;
    color: #24486a;
}

.main-link .t3>span {
    display: block;
    margin-bottom: 3px;
    font-size: 24px;
    color: #24486a;
}

.main-link .t3 {
    height: 80px;
}

.main-link img {
    margin: 15px auto 5px;
}

.main-link .btn_l {
    display: block;
    width: 130px;
    min-height: 0;
    padding: 0;
    margin: 0 auto;
    border-radius: 3px;
    background: #db605a !important;
    font-size: 13px;
    line-height: 24px;
    color: #fff !important;
}


